<!-- <h1>QuestionsController#answer</h1>
<p>Find me in app/views/questions_controller/answer.html.erb</p>
 -->
<h1>Stupid Coaching Answer</h1>
<p><%= @question_asked %></p>
<p>-You</p>
<!-- Displays the instance of user input inside the controller method -->
<p><%= @answer %></p>
<p>-Your Coach</p>
<!-- Displays the instance of the coach's answer to the user's input inside the controller method -->
<p><%= link_to "Ask a new question", ask_path %></p>
<!-- NOT CONVENTIONAL <a href="/ask">Ask again</a> -->



