// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cyan: #f3f8ff;

body {
  background: $cyan; // Using this variable
}

.container {
}

.questionnaire {
}

h1 {
  font-family: 'Helvetica';
}
